.helpTabs .arco-tabs-content {
  border: none !important;
  overflow: auto;
  height: calc(100vh - 300px);
}

.arco-form-item-symbol {
  display: inline-block;
}

.rankTabs .arco-tabs-content {
  height: unset;
}

.rankTabs .arco-tabs-header-wrapper {
  justify-content: left !important;
}
